* {
    border: 0;
    margin: 0;
    font-family: Calibri;
}

body{
    background-color: #F8F9FA;
}

main{
    margin: 0 auto;
    max-width: 660px;
    font-size: 18px;
}

main h1{
    font-size: 32px;
    margin: 26px 0 12px 0;
    color: #BA181B;
}

main p{
    margin-bottom: 22px;
    color: #333;
    text-align: justify;
}

main span{
    color: #BA181B;
    font-weight: bold;
    font-style: italic;
}

/*=================Estilização Menu Horizontal=====================*/
.menuHorizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border-bottom: 2px solid gainsboro;
    box-shadow: 1px 1px 12px gainsboro;
}
.menuHorizontal h1{
    color: #BA181B;
}

.btnPaginas{
    margin: 0 2px 0 0;
    padding: 12px;
    width: 120px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    background: white;
    cursor: pointer;
}
/*==================================================================*/

/*=================Estilização Lista Java Script=====================*/
#listaRelatos h3 {
    color: #BA181B;
    font-size: 18px;
    margin-bottom: 8px;
    text-transform: uppercase; /*Deixa o texto em caixa alta para destaque */
    border-left: 4px solid #BA181B;
    padding-left: 10px;
}

/* Estilização Container do card no JavaScript */
.card-relato {
    background-color: white;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.05);
    transition: transform 0.2s;
}

.card-relato:hover {
    transform: scale(1.01); /*Efeito suave ao passar o mouse*/
}

.card-relato p {
    margin: 5px 0;
    color: #333;
}

.card-relato strong {
    color: #BA181B;
}
/*==================================================================*/











































































/*==============================Animações==========================*/
.btnPaginas:hover{
    background-color: #BA181B;
    color: white;
}
/*==================================================================*/